
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
  background-color: rgb(243, 243, 243);
}
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
textarea
{
  max-width: 1000px;
  width: 85%;
  margin-bottom: 10px;
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 20px;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 34px;
  border-radius: 34px;
  font-weight: 600;
  color: #05001b;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #fcfcfc;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2) inset;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.66);
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.955, 0.155);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.955, 0.155);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.955, 0.155);
  transition: all 200ms cubic-bezier(0.42, 0, 0.955, 0.155);
  resize: none; 
  height: 26px;

}
textarea:focus,
#post-title:focus{
  outline: none;
}
.post-file{
  display: none;
}
#post-title{
  max-width: 1000px;
  width: 95%;
  padding: 10px 20px;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 34px;
  border-radius: 34px;
  font-weight: 600;
  color: #05001b;
  margin-bottom: 15px;
  background: #fcfcfc;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2) inset;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.66);
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.955, 0.155);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.955, 0.155);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.955, 0.155);
  transition: all 200ms cubic-bezier(0.42, 0, 0.955, 0.155);
}
.media{
display: flex;
justify-content: center;
}
.sub{
float: right;
display: inline-block;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
cursor: pointer;
padding: 5px 10px;
border: none;
font-style: italic;
font-weight: 600;
font-size: 16px;
color: rgba(0,0,0,0.9);
-o-text-overflow: clip;
text-overflow: clip;
background: rgba(255,255,255, 0);
text-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
-webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
-moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
-o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}
.sub:hover{
background-color: #ececec
}
.reaction{
  width: 20px;
  height: 20px;
}

#add-post{
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  textarea{
    width: 90%;
  }
  label{
    font-size: 800;
    font-style: italic;
    text-decoration: underline;
    color: rgba(62, 173, 158, 0.548);
    
  }
  h2{
    display: inline;
    text-align: left;
    width: 100%;
    padding-left: 30px;
  }
}

#posts{
  display: flex;
  flex-direction: column;
  align-items: center;
    .post{
      margin: 20px 0;
      width: 600px;
      background: white;
      padding: 15px;
      border-radius: 10px;
          img{
            align-self: center;
          }
          .user{
            
            .pp{
              width: 40px;
              height: 40px;
              border-radius: 50%;
              margin-right: 10px;
            }
            .pp_com{
              width: 20px;
              height: 20px;
            }
            .pseudo{
              font-size: 24px;
              font-weight: 800;
              font-style: italic;
              color: #3a3a3a;
              transform: translateY(-10px);
            }
            .pseudo-com{
              font-size: 18px;
            }
          }
          h3, p{
            margin: 20px;

          }
          .comments{
            margin-top: 20px;
            label{
              font-size: 800;
              font-style: italic;
              text-decoration: underline;
              color: rgba(62, 173, 158, 0.548);
              
            }
            
          }
          .reactions{
            display: flex;
            justify-content: space-around;
            width: 400px;
            margin: 15px auto 0 auto;
          }
          
          
    }
}

